{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
    <div class="login-page">
      <div class="form">
          <h1>42 SEOUL</h1>
          <button onclick="window.location.href='https://api.intra.42.fr/oauth/authorize?client_id=916e33d22894d41d9112a5f02bcfd7800d46eda2fed125e2d14b0a5dce8df4bb&redirect_uri=http%3A%2F%2Flocalhost%3A8000%2Flogin%2Foauth42%2F&response_type=code'">login</button>
          <p class="message">intra.42.fr 계정이 있어야만 로그인이 가능합니다.</p>
      </div>
    </div>
</body>
</html>